.post-body {
  quotes: '"«" "»"';
  padding: 20px 30px 0 30px;
}

.post-body:before {
  content: open-quote;
}

.post-body:after {
  content: close-quote;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 64px);
}

.post-detail-container {
  max-width: 800px;
}
